# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local SQLite databases & test databases
*.db
*.sqlite3
data_store/*.db
tests/*.db

# Secrets & Environment variables
.env
.env.*
*.pem
*.key

# Temporary files
*.tmp
.DS_Store
